* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nav-bar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-top: 1.2em;
  padding-bottom: 0.6em;
  padding-right: 1em;
  background-color: black;
  color: azure;
}

.logo-sm {
  padding-left: 1em;font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
}

#du {
  text-decoration: underline;
  color: rgb(186, 182, 248);
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: azure;
  padding: 0.5em 1.5em;
}

.nav-links a:hover {
  color: black;
  background-color: cadetblue;
}

.top-section {
  /* background-color: rgb(200, 200, 200); */
  /* background-image: url('edu.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.top-1 {
  font-size: 6rem;
}

.top-12 {
  font-size: 6rem;
  padding-left: 1.4em;
}

#top-2 {
  font-size: 2rem;
  font-style: italic;
  background-color: rgb(50, 50, 50);
  color: azure;
  padding-left: 8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  letter-spacing: 0.5em;
}

.seta-baixo {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.5em;
  color: black;
}

.seta-baixo:hover {
  background-color: black;
  color: grey;
}

.setas-dupla {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: black;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.setas-dupla:hover {
  color: black;
}

.main-projetos {
  display: flex;
  justify-content: space-around;
  padding: 2rem 5em;
}

#portifolio {
  height: 100vh;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projeto1, #projeto2, #projeto3 {
  border: solid;
  width: 10em;
  height: 15em;
}

#dados {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: rgb(22, 22, 22);
  color: azure;
  padding: 0.8em;
  letter-spacing: 0.2rem;
  text-align: center;
}