* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: azure;
  padding: 0.8em;
}

li {
  list-style: none;
}

.nav {
  font-size: 1rem;
}

body {
  background-color: rgb(114, 114, 114);
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
}

#du {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: rgb(243, 123, 79);
}

footer {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.6em;
}